@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

#GM {
    font-family: "Sacramento";
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 500px
}

#clockDisplay {
    font-family: "Poiret One";
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: -70px
}

.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;

    
}

